.separate-login {
    padding-left:100px;
}

.sign-up-login{
    background: #fff;
    border-radius: 5px;
    margin: 50px 0 18px;
    padding: 15px;
    display:inline-block;
    text-align:center;
    -webkit-box-shadow: 0 2px 5px #a1a1a1;
    -moz-box-shadow: 0 2px 5px #a1a1a1;
    box-shadow: 0 2px 5px #a1a1a1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.home-text {
    width: 250px;
    float: left;
    font: 15px/130% 'Proxima', Arial, sans-serif;
    margin-right: 5px;
}
.footer-new {
    background: repeat-x 0 0 #575757;
    text-shadow: 0 -1px 0 #232323;
    -webkit-box-shadow: inset 0px 10px 20px #232323;
    box-shadow: inset 0px 10px 20px #232323;
    margin-top: 90px;
}
.footer ul {
    list-style:none;
}


